
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	color: #fff;
	overflow:auto;
}

.pagina1{
	
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/LaTanaDelGamer/immagini/sfondo10.jpg);
    width:100%;
    height: 93%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    box-shadow: 0 0 60px 60px #000000 inset;
    overflow : auto;


}

h1{
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	margin-bottom: 0em;
	color : #00ffff6b;
}

.form-container{
	padding-top: 50px;
    margin: auto;
    text-align: center;
    background: linear-gradient(#0000002b,#f2f2f23b);
    width: 500px;
    margin-top: 5em;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #00ffff6b;
}

.control{
	padding : 0.5em;
}

.control1{
	padding-top : 1em;
	padding-bottom : 1em;
}


.update{
    width: 80%;
    padding: 7px;
    border-width: 2px;
    outline: none;
    margin: 0.2em 0;
    border-radius: 5px;
    border-style: double;
    background-color: #26262600;
    color: white;
    border-color: var(--blu);
}

.first{
	float: left;
    width: 100%;
    margin-bottom: 0.3em;
}

.second{
	width:100%;
}
label{
	float: left;
    margin-left: 30px;
}





.inputAggiorna{
	    background: var(--primary);
    width: 60%;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
    border: none;
    border-radius: 10px;
    height: 50px;
}

.inputAggiorna:hover{
	opacity: 1;
	border: var(--blu) solid;
}

.alink{
	margin: auto;
    color: #fff;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding-left: 30px;
    text-decoration: auto;
    padding-right: 30px;
}

.link{
	padding:10px;
}

.link:hover{
	color: var(--blu);
}
/**
.form-container{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: linear-gradient(#f9f9f96e,#f2f2f23b);
	width: 380px;
	padding: 50px 30px;
	border-radius: 10px;
	box-shadow: 7px 7px 60px #00ffff6b;
}

h1{
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	margin-bottom: 0em;
	color : #00ffff6b;
}

.control input[type="submit"]{
	background: var(--primary);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	opacity: .7;
	transition: opacity .3s ease;
}

.control input[type="submit"]:hover{
	opacity: 1;
}

.link{
	text-align: center;
	color: black;
}

.link a{
	text-decoration: none;
	color: black;
	opacity: .6;
	transition: opacity .3s ease;
}

.link a:hover{
	opacity: 1;
}


.errore{
	text-align:center;
	color:red;	
}
*/